<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">

  <variable name="logDirectory" value="${basedir}/logs"/>
  <variable name="logLayout" value="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}"/>

  <targets>
    <!-- All logs combined -->
    <target xsi:type="File" 
            name="allfile" 
            fileName="${logDirectory}/app.log"
            archiveFileName="${logDirectory}/archives/app.{#}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            maxArchiveFiles="100"
            createDirs="true"
            layout="${logLayout}"
            encoding="utf-8"
            concurrentWrites="true"
            keepFileOpen="false"/>

    <!-- Trace level logs -->
    <target xsi:type="File" 
            name="tracefile" 
            fileName="${logDirectory}/trace.log"
            archiveFileName="${logDirectory}/archives/trace.{#}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            maxArchiveFiles="100"
            createDirs="true"
            layout="${logLayout}"
            encoding="utf-8"
            concurrentWrites="true"
            keepFileOpen="false"/>

    <!-- Debug level logs -->
    <target xsi:type="File" 
            name="debugfile" 
            fileName="${logDirectory}/debug.log"
            archiveFileName="${logDirectory}/archives/debug.{#}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            maxArchiveFiles="100"
            createDirs="true"
            layout="${logLayout}"
            encoding="utf-8"
            concurrentWrites="true"
            keepFileOpen="false"/>

    <!-- Info level logs -->
    <target xsi:type="File" 
            name="infofile" 
            fileName="${logDirectory}/info.log"
            archiveFileName="${logDirectory}/archives/info.{#}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            maxArchiveFiles="100"
            createDirs="true"
            layout="${logLayout}"
            encoding="utf-8"
            concurrentWrites="true"
            keepFileOpen="false"/>

    <!-- Warn level logs -->
    <target xsi:type="File" 
            name="warnfile" 
            fileName="${logDirectory}/warn.log"
            archiveFileName="${logDirectory}/archives/warn.{#}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            maxArchiveFiles="100"
            createDirs="true"
            layout="${logLayout}"
            encoding="utf-8"
            concurrentWrites="true"
            keepFileOpen="false"/>

    <!-- Error level logs -->
    <target xsi:type="File" 
            name="errorfile" 
            fileName="${logDirectory}/error.log"
            archiveFileName="${logDirectory}/archives/error.{#}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            maxArchiveFiles="100"
            createDirs="true"
            layout="${logLayout}"
            encoding="utf-8"
            concurrentWrites="true"
            keepFileOpen="false"/>

    <!-- Fatal level logs -->
    <target xsi:type="File" 
            name="fatalfile" 
            fileName="${logDirectory}/fatal.log"
            archiveFileName="${logDirectory}/archives/fatal.{#}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="1048576"
            maxArchiveFiles="100"
            createDirs="true"
            layout="${logLayout}"
            encoding="utf-8"
            concurrentWrites="true"
            keepFileOpen="false"/>
  </targets>

  <rules>
    <!-- All logs to combined file -->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    
    <!-- Level-specific logging -->
    <logger name="*" level="Trace" writeTo="tracefile" />
    <logger name="*" level="Debug" writeTo="debugfile" />
    <logger name="*" level="Info" writeTo="infofile" />
    <logger name="*" level="Warn" writeTo="warnfile" />
    <logger name="*" level="Error" writeTo="errorfile" />
    <logger name="*" level="Fatal" writeTo="fatalfile" />
  </rules>
</nlog>
